section.angled {
  position: relative;
  z-index: 1;
}

section.angled.top:before, section.angled.bottom:after,
section.angled.both:before, section.angled.both:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

section.angled.top:before, section.angled.both:before {
  top: 0;
  transform: skewY(2deg);
  transform-origin: 100% 0;
}

section.angled.bottom:after, section.angled.both:after {
  bottom: 0;
  transform: skewY(-2deg);
  transform-origin: 100%;
}





section.angled-bordered {
  position: relative;
  z-index: 1;
}

section.angled-bordered.top:before, section.angled-bordered.bottom:after,
section.angled-bordered.both:before, section.angled-bordered.both:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

section.angled-bordered.top:before, section.angled-bordered.bottom:after,
section.angled.both-bordered:before, section.angled-bordered.both:after {
  height: 0%;
  z-index: 10;
  border-top: 2px dashed $light;
}

section.angled-bordered.top:before, section.angled-bordered.both:before {
  top: 0;
  transform: skewY(-2deg);
  transform-origin: 100% 0;
}