.button {
  display: inline-block;
  padding: 6px 12px;
  border-radius: $border-radius;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.428571429;
  background-color: $primary-color;
  transition: all 200ms ease-in-out 0s;
  color: #fff;
  text-align: center;
  cursor: pointer;
  a {
    color: #fff;
  }
  &:hover {
    background-color: $dark;
    color: #fff;
  }
}

.dark {
  background-color: $dark;
  color: #fff;
  a {
    color: #B8B9BC;
    &:hover {
      color: $primary-color;
    }
  }
  .button {
    background-color: $primary-color;
    color: #dadada;
    &:hover {
      background-color: #fff;
      color: $primary-color;
    }
  }
}

button {
  &[disabled] {
    background-color: dimgray;
    cursor: default;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $primary-color;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 32px;
}

.slider.round:before {
  border-radius: 50%;
}

