// SHOWMORE
.show-more {
  display: none;
  transition: opacity 1400ms ease-in-out 200ms;
  &.open {
    display: block;
  }
}

// MID-SECTIONS
.color-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: $primary-overlay;
  z-index: 10;
}

.mid-section {
  padding-top: 0;
  padding-bottom: 0;
  height: 28rem;
  position: relative;
  display: flex;
  .row {
    z-index: 20;
  }
}

// MID-SECTION MOBILE CLASSES (for javascript)
.mid-section.desktop {
  background-attachment: fixed !important;
  background-position: top center !important;
}

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .mid-section {
    background-attachment: scroll !important;
    background-position: center center !important;
  }
}

// SCROLL-TO
body {
  &.in-transition {
    transition: transform 900ms ease;
  }
}