<section>
  <div class="container">
    <div class="row center-hz">
      <div class="col-xs-12 text-center margin-bottom">
        <a href="/search">Go to Search Page</a>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-6">
        <h2 class="text-center">User (<%= @user.fullname %>)</h2>
        <user :user="<%= @user.to_json %>"></user>
      </div>
    </div>
  </div>
</section>
<section id="articles">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>Articles</h2>
      </div>
    </div>
    <articles :articles="<%= @articles.to_json %>"></articles>
  </div>
</section>