<template>
    <div>
        <div class="row center-hz">
            <div class="col-xs-12 col-sm-8 col-md-6">
                <form class="formblock" action="" method="post" @submit.prevent="onSubmit" @keydown="errors.clear($event.target.name), success.clear()">
                    <div class="header">
                        <h4 v-if="article.title">{{ article.title }}</h4>
                        <h4 v-else>New article</h4>
                    </div>
                    <div class="body">
                        <div class="form-group">
                            <label>Title
                                <p class="error" v-if="errors.has('title')" v-text="errors.get('title')"></p>
                                <input type="text" name="title" v-model="article.title">
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Text
                                <p class="error" v-if="errors.has('text')" v-text="errors.get('text')"></p>
                                <textarea name="text" cols="30" rows="10" v-model="article.text"></textarea>
                            </label>
                        </div>
                    </div>
                    <div class="footer">
                        <p class="success" v-if="success" v-text="success.message">Success</p>
                        <div class="right">
                            <button type="submit" id="submit" class="button" :disabled="errors.any()"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Create
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div v-for="existingArticle in articles">
            <vue-article :article="existingArticle"></vue-article>
        </div>
    </div>
</template>

<script>
    import {Errors} from '../errors';
    import {Success} from '../success';

    export default {
        props: ['articles'],
        data () {
            return {
                errors: new Errors(),
                success: new Success(),
                article: {
                    title: '',
                    text: ''
                }
            }
        },
        methods: {
            onSubmit() {
                axios.post('/articles', this.article).then(response => {
                    this.articles.unshift(Vue.util.extend({}, this.article));
                    this.success.record(response.data[0].message);
                    this.empty();
                }, error => {
                    this.errors.record(error.response.data);
                });
            },
            empty() {
                this.article.title = '';
                this.article.text = '';
            }
        }
    }
</script>
