<template>
    <div class="row center-hz">
        <div class="col-xs-12 col-sm-8 col-md-6">
            <form class="formblock" action="" method="post" @submit.prevent="onSubmit" @keydown="errors.clear($event.target.name), success.clear()">
                <div class="header">
                    <h4>User article</h4>
                </div>
                <div class="body">
                    <div class="form-group">
                        <label>Title
                            <p class="error" v-if="errors.has('title')" v-text="errors.get('title')"></p>
                            <input type="text" name="title" v-model="article.title">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Text
                            <p class="error" v-if="errors.has('text')" v-text="errors.get('text')"></p>
                            <textarea name="text" cols="30" rows="10" v-model="article.text"></textarea>
                        </label>
                    </div>
                </div>
                <div class="footer">
                    <p class="success" v-if="success" v-text="success.message">Success</p>
                    <div class="right">
                        <button type="submit" id="submit" class="button" :disabled="errors.any()"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                            Update
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import {Errors} from '../errors';
    import {Success} from '../success';

    export default {
        props: ['article'],
        data () {
            return {
                errors: new Errors(),
                success: new Success()
            }
        },
        methods: {
            onSubmit() {
                axios.put('/articles/' + this.article.id, this.article).then(response => {
                    this.success.record(response.data[0].message);
                }, error => {
                    this.errors.record(error.response.data);
                });
            }
        }
    }
</script>
