<template>
    <div>
        <div class="row">
            <div class="col-xs-12 margin-bottom margin-bottom">
                <p>Search-bar:</p>
                <input type="text" name="search_text" v-model="search_text" placeholder="Entrez 3 caractères ou plus">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4" v-for="article in articles">
                <div class="formblock">
                    <div class="header">
                        <h4>{{ article.title }}</h4>
                    </div>
                    <div class="body">
                        <div class="form-group">
                            {{ article.text }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                articles: '',
                search_text: ''
            }
        },
        watch: {
            search_text (val) {
                if (val.length >= 3) {
                    axios.get('/articles/search/' + this.search_text)
                        .then(response => {
                            this.articles = response.data
                        }, error => {
                            console.log(error)
                        })
                } else {
                    this.articles = '';
                }
            }
        }
    }
</script>